<template>
  <div>
    <b-container fliid>
      <b-row>
        <b-col class="text-right">
          <b-button variant="primary" @click="addnew">เพิ่มใหม่</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItem" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editproduct(item)">แก้ไข</b-button>
              <b-button
                class="ml-1"
                variant="danger"
                @click="deleteproduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    editproduct (item) {},
    deleteproduct (item) {},
    addnew () {}
  },
  data () {
    return {
      fields: [
        { key: 'porductId', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItem: [
        { porductId: 1, name: 'IPad gen1 65GB wifi', price: 11000.0 },
        { porductId: 2, name: 'IPad gen2 65GB wifi', price: 12000.0 },
        { porductId: 3, name: 'IPad gen3 65GB wifi', price: 13000.0 },
        { porductId: 4, name: 'IPad gen4 65GB wifi', price: 14000.0 },
        { porductId: 5, name: 'IPad gen5 65GB wifi', price: 15000.0 },
        { porductId: 6, name: 'IPad gen6 65GB wifi', price: 16000.0 },
        { porductId: 7, name: 'IPad gen7 65GB wifi', price: 17000.0 },
        { porductId: 8, name: 'IPad gen8 65GB wifi', price: 18000.0 },
        { porductId: 9, name: 'IPad gen9 65GB wifi', price: 19000.0 },
        { porductId: 10, name: 'IPad gen10 65GB wifi', price: 20000.0 }
      ]
    }
  }
}
</script>
<style></style>
