<template>
  <div class="app-menu min-vh-100">
    <b-img src="../assets/Buu.png" width="80%" class="pt-2 pb-2" center></b-img>
    <b-nav vertical>
      <b-nav-item to="/">Home</b-nav-item>
      <b-nav-item to="/About">About</b-nav-item>
      <b-nav-item @click="showFormInput = !showFormInput"
        >Form Input<b-icon
          :icon="showFormInput ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput1"
        >Form Input 1</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput2"
        >Form Input 2</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput3"
        >Form Input 3</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput4"
        >Form Input 4</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput5"
        >Form Input 5</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput6"
        >Form Input 6</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput7"
        >Form Input 7</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput8"
        >Form Input 8</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput9"
        >Form Input 9</b-nav-item
      >
      <b-nav-item v-if="showFormInput" class="sub-menu" to="./forminput10"
        >Form Input 10</b-nav-item
      >
      <b-nav-item @click="showForm = !showForm"
        >Form<b-icon
          :icon="showForm ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showForm" class="sub-menu" to="./form1"
        >Form 1</b-nav-item
      >
      <b-nav-item v-if="showForm" class="sub-menu" to="./form2"
        >Form 2</b-nav-item
      >
      <b-nav-item v-if="showForm" class="sub-menu" to="./form3"
        >Form 3</b-nav-item
      >
      <b-nav-item v-if="showForm" class="sub-menu" to="./form4"
        >Form 4</b-nav-item
      >
      <b-nav-item @click="showCRUDExample = !showCRUDExample"
        >CRUD Example<b-icon
          :icon="showCRUDExample ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item v-if="showCRUDExample" class="sub-menu" to="./datatable1"
        >Data table 1</b-nav-item
      >
      <b-nav-item v-if="showCRUDExample" class="sub-menu" to="./productfrom1"
        >Product From 1</b-nav-item
      >
      <b-nav-item v-if="showCRUDExample" class="sub-menu" to="./ProductTable"
        >Product table</b-nav-item
      >
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showFormInput: false,
      showForm: false,
      showCRUDExample: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: gray;
  font-size: 10pt;
}
.sub-menu {
  padding-left: 10pt;
}
.nav-link {
  text-align: left;
  color: white;
}
.nav-link:hover {
  color: gold;
  text-align: left;
}
</style>
